.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap
}

.news-item {
    width: 20%;
    padding: 3%;
}

.news-item:hover {
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.25);
}

.news-item img {
    width: 100%;
}